<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>MyBlog</title>
        <link rel="stylesheet" href="../static/css/index.css">
    </head>

    <body >
<!--        <button id="re">返回登陆界面</button>-->
        <h1 style="margin-top: 50px; text-align: center; font-size: xx-large;">MyBlog</h1>
        <hr style="margin-top: 20px;">

        <div class="box">
            <p style="text-align: center;">个人简历</p>
<!--            <a href="page1.html"><img src="o1.jpg" width="190px" height="170"></a>-->
        </div>

        <div class="box1">
            <p style="text-align: center;">我的理想</p>
<!--            <a href="page2.html"><img src="o2.jpg" width="190px" height="170"></a>-->
        </div>

        <div class="box2">
            <p style="text-align: center;">我的生活</p>
<!--            <a href="page3.html"><img src="o3.jpg" width="190px" height="170"></a>-->
        </div>

        <div class="box3">
            <p style="text-align: center;">学习内容</p>
<!--            <a href="page4.html"><img src="o4.jpg" width="190px" height="170"></a>-->
        </div>

        <script>
            var re=document.getElementById('re');
            re.onclick=function(){
                location.href='实验一.html';
            }
        </script>

    </body>
</html>